.app {
    height: calc(100vh - 221px);
    .app-form {
        width: 270px;
        .form-h1 {
            font-size: 1.5rem;
          }
          .form-h2 {
            font-size: 0.9rem;
          }
      }
  }