footer {
    background-color: var(--black);
    min-height: max-content;
    h3,
    p {
      font-size: 12px;
    }
    p,
    i {
      color: $h5;
    }
    .footer-brand {
      text-align: justify;
    }
    .logos {
      width: 100px;
      height: 200px;
    }
    a:hover,
    i:hover {
      color: $bg-btn !important;
    }
    *:hover{
      cursor: pointer;
      fill: $bg-btn !important;
    }
    svg:hover {
      cursor: pointer;
      fill: $bg-btn !important;
    }
  }
  .w-3{
    width: 26px;
  }