/*nav::begin*/

.bg-btn{
    background-color: var(--bg-btn);
    background-color: var(--bg-btn);
    
}

/*nav::end*/
/*app::begin*/
.app{
    height: 65vh;
    margin-bottom: 220px;
}
.app-form{
    width: 530px;}
.form-h1{
    font-size: 2.5rem;
}
.form-h2{
    font-size: 1.2rem;
}
/*app::end*/
/*khadamat::start*/
.flex-1{
    flex: 1;
}
/*khadamat::end*/

/*parallax::start */
.parallax-div{
    width: 24.5%;
}
/*parallax::end*/
/*footer::start*/
.footer-brand{
    width: 15%;
}
/*footer::end*/
